@import "vars";
@import "mixin";


body {
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.container {
    font-family: $fontRoboto;
    margin: 0 1rem 0 1rem;

    .fa-angle-left {
        color: rgb(190, 190, 190);
        font-size: 2rem;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        
    }
    .headerLocation {
        display: none;
        

        .inputHeader {
            border: none;
            font-weight: bold;
            background-color: transparent;
        }
    }
}

header {
    @include positionBlock;
    justify-content: center;
}
header > a {
    position: absolute;
    left: 20px;
}

main {
    position: relative;

    .cardMenuImg {
        z-index: 1;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .cardMenu {
        margin-top: -3rem;
        background-color: rgb(248, 248, 248);
        border-radius: 40px 40px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .cardMenuTitle{
            font-family: $fontShrikhand;
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        .checkHeart {
            @include checkHeart1;
            margin-left: 20px;
            margin-bottom: 7px;
            display: flex;
            justify-content: flex-end;
        }
        .cardMenuDish {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            .cardMenuDishColumn {
                display: flex;
                flex-direction: column;
                
                .cardMenuDishColumn1 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 400ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumn2 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 900ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumn3 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 1200ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumnTitle {
                    width: fit-content;
                    color: rgb(131, 131, 131);
                    margin-bottom: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        border-bottom:  3px solid $colorSecondary;
                    }
                }
                .cardMenuDishColumnChoice {
                    
                    background-color: white;
                    width: 300px;
                    height: 100px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    
                    .textContent {
                        max-width: 220px;
                        margin-left: 0.2rem;
                        
                        > h4 {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        > p {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                    .price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                    }
                    .testBox {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
    
                        .textContent {
                            width: 150px;
                        }
                    
                        .testBox {
                            display : flex;
                            justify-content : center;
                            align-items : center;
                            background-color : $colorSecondary;
                            width : 80px;
                            height : 100px;
                            border-radius : 0 20px 20px 0;
                            align-self : flex-end;
                            transform: scale(1);
                            animation-name: slideX;
                            animation-duration: 300ms;
                            transform-origin : 100%;
                            cursor : pointer;

                            .fas {
                                font-size : 1.5rem;
                                background-color : white;
                                border-radius : 50%;
                                color : $colorSecondary;
                                border : 10px solid white;
                                -webkit-animation: rotate 300ms linear;
                                }
                    
                            @keyframes slideX {
                                0% {
                                    transform: scaleX(0);
                                    }
                                    
                                100% {
                                    transform: scaleX(1);
                                }
                            }
                            @keyframes slideY {
                                0% {
                                    transform: scaleY(0);
                                    opacity: 0;
                                }
                                50% {
                                    transform: scaleY(0);
                                    opacity: 0.2;
                                }
                                100% {
                                    transform: scaleY(1);
                                    opacity: 1;
                                }
                            }
                            
                            @keyframes rotate {
                                100% {
                                    -webkit-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                }
                                0% {
                                    -webkit-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes fadein {
                                from {
                                    opacity:0;
                                }
                                to {
                                    opacity:1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btnOrder {
        align-self: center;
        font-family: $fontRoboto;
        font-size: 1.2rem;
        width: 300px;
        height: 60px;
        color: white;
        border : 1px solid $backgroundPrimary;
        border-radius: 60px ;
        background: #FF79DA;
        background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        box-shadow: 5px 5px 20px $boxShadowColor;
        cursor: pointer;
    }
}

.footerSection {
    @include footerSection;
}

