@import "vars";
@import "mixin";

@media screen and (min-width: 1100px) {
    .cardMenu {
        height: 640px;

        .cardMenuDish {
            margin-left: 1.5rem;
        }
        .cardMenuDishColumnChoice {
            width :90% !important;
        }
    }
}