@import "vars";
@import "mixin"; 

body {
    display: flex;
    justify-content: center;
}

.container {
    font-family: $fontRoboto;
    margin: 0 1rem 0 1rem !important;

    .fa-angle-left {
        color: rgb(48, 48, 48);
        font-size: 2rem;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        @include positionBlock;
    }
    .inputHeader {
        border: none;
        font-weight: bold;
        background-color: transparent;
    }
}

/*################ HOME ############### */
main {
    .intro {
        flex-wrap: wrap;
        @include positionBase;
    
        .introContent {
            width: 100%;
            margin-bottom: 1rem;
    
            & > h4 {
                font-weight: normal;
            }
        }
        .introButton {
            font-family: $fontRoboto;
            font-size: 1.2rem;
            width: 300px;
            height: 60px;
            color: white;
            border : 1px solid $backgroundPrimary;
            border-radius: 60px ;
            background: #FF79DA;
            background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            box-shadow: 5px 5px 20px $boxShadowColor;
            cursor: pointer;
    
            &:focus {
                outline: none;
            }
        }
    }
    
    .step {
        display: flex;
        flex-direction: column;
    
        .stepList {
            z-index: 1;
    
            .stepListItem {
                position: relative;
                border: 1px $backgroundPrimary solid ;
                border-radius : 20px;
                box-shadow: 5px 5px 10px $boxShadowColor;
                height: 75px;
                background-color:$backgroundPrimary;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
    
                &:hover {
                    background-color: #f9ebff;
    
                    i {
                        color : #9356dc;
                    }
                }
                > p {
                    position: absolute; 
                    left :-10px;
                    width: 20px;
                    height: 20px;
                    background-color: #9356dc;
                    color : white;
                    border-radius: 100%;
                    text-align: center;
                }
                > h4 {
                    font-size: 1.1rem;
                    margin: 0;
                    padding-left: 1rem;
                }
                > i {
                    color :grey ;
                }
            }
        }
    }
    
    .restaurant {
        background-color: $backgroundPrimary;
        margin : 2.5rem 0 0 0;
        border-radius: 1rem 1rem 0 0;
    
        .restaurantTitle {
            padding : 1rem 0 0 1rem;
        }
        .restaurantList {
            display : flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding-bottom: 3rem;
    
            .restaurantListItem {
                position: relative;
                box-shadow: 2px 2px 10px grey;
                border-radius: 1rem 1rem 1rem 1rem;
                height: 150px;
                margin-top: 2rem;
                display : flex;
                background-color: white;
                & > p {
                    background-color: $colorSecondary;
                    color: rgb(0, 128, 6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 30px;
                    position: absolute;
                    top: 10px;
    
                }
                .restaurantListItemName {
                    width: 90%;
                    margin-left: 1rem;
    
                    & > a  {
                        text-decoration: none;
                        color: black;
                    }
                    .checkHeart {
                        @include checkHeart1;
                        margin-right: 1rem;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
/*##################################### */

/*################ MENUS ############### */
main {
    .cardMenuImg {
        z-index: 1;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .cardMenu {
        margin-top: -3rem;
        background-color: rgb(248, 248, 248);
        border-radius: 40px 40px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .cardMenuTitle{
            font-family: $fontShrikhand;
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        .checkHeart {
            @include checkHeart1;
            margin-left: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;
        }
        .cardMenuDish {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            .cardMenuDishColumn {
                display: flex;
                flex-direction: column;
                
                .cardMenuDishColumn1 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 400ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumn2 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 900ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumn3 {
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 1200ms;
                    transform-origin : top;
                
                }
                .cardMenuDishColumnTitle {
                    width: fit-content;
                    color: rgb(131, 131, 131);
                    margin-bottom: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        border-bottom:  3px solid $colorSecondary;
                    }
                }
                .cardMenuDishColumnChoice {
                    
                    background-color: white;
                    width: 300px;
                    height: 100px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    
                    .textContent {
                        max-width: 220px;
                        margin-left: 0.2rem;
                        
                        > h4 {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        > p {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                    .price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        
                    }
                    .testBox {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
    
                        .textContent {
                            width: 150px;
                        }
                    
                        .testBox {
                            display : flex;
                            justify-content : center;
                            align-items : center;
                            background-color : $colorSecondary;
                            width : 80px;
                            height : 100px;
                            border-radius : 0 20px 20px 0;
                            align-self : flex-end;
                            transform: scale(1);
                            animation-name: slideX;
                            animation-duration: 300ms;
                            transform-origin : 100%;
                            cursor : pointer;

                            .fas {
                                font-size : 1.5rem;
                                background-color : white;
                                border-radius : 50%;
                                color : $colorSecondary;
                                border : 10px solid white;
                                -webkit-animation: rotate 300ms linear;
                                }
                    
                            @keyframes slideX {
                                0% {
                                    transform: scaleX(0);
                                    }
                                    
                                100% {
                                    transform: scaleX(1);
                                }
                            }
                            @keyframes slideY {
                                0% {
                                    transform: scaleY(0);
                                    opacity: 0;
                                }
                                50% {
                                    transform: scaleY(0);
                                    opacity: 0.2;
                                }
                                100% {
                                    transform: scaleY(1);
                                    opacity: 1;
                                }
                            }
                            
                            @keyframes rotate {
                                100% {
                                    -webkit-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                }
                                0% {
                                    -webkit-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes fadein {
                                from {
                                    opacity:0;
                                }
                                to {
                                    opacity:1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btnOrder {
        align-self: center;
        font-family: $fontRoboto;
        font-size: 1.2rem;
        width: 300px;
        height: 60px;
        color: white;
        border : 1px solid $backgroundPrimary;
        border-radius: 60px ;
        background: #FF79DA;
        background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        box-shadow: 5px 5px 20px $boxShadowColor;
        cursor: pointer;
    }
}
.cardMenuDishColumn1 {
    transform: scale(1);
    animation-name: slideY;
    animation-duration: 400ms;
    transform-origin : top;

}
.cardMenuDishColumn2 {
    transform: scale(1);
    animation-name: slideY;
    animation-duration: 900ms;
    transform-origin : top;

}
.cardMenuDishColumn3 {
    transform: scale(1);
    animation-name: slideY;
    animation-duration: 1200ms;
    transform-origin : top;

}
/*##################################### */

/*########## MENTIONS/CONTACT ######### */
.containerContact {
    position: relative;
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: #f4ebff;

       
        .formContactName {
            margin-top : 2rem;
        }
        .formContactMail {
            margin-top : 2rem;
        }
        textarea {
            margin-top: 3rem;
                    }
        .btnSubmit {
            font-family: $fontRoboto;
            font-size: 1.2rem;
            width: 100px;
            height: 30px;
            color: white;
            border : 1px solid $backgroundPrimary;
            border-radius: 60px ;
            background: #FF79DA;
            background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            box-shadow: 5px 5px 20px $boxShadowColor;
            margin-top: 1rem;
        }
}


.mentions {
    font-family: $fontRoboto;
    text-align: justify;
}
/*##################################### */


.footerSection {
    @include footerSection;
}



/*##############SPINNER#################*/

@include spinnerloading;

/*##################################### */