@import "vars";
@import "mixin"; 

@media screen and (min-width: 1100px) {
    .container {
        max-width: 1280px;
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;

        > div {
            width: calc(100% / 3);
        }
        & .headerLocation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
    /*################ HOME ############### */
    .introContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stepList {
        @include positionBase;
    
        .stepListItem {
            width: calc(1000px / 3);
        }
    }
    
    .restaurantList {
        flex-direction: row;
    
        .restaurantListItem {
            width: 500px;
            > p {
                left: 10px !important;
            }
    
            .restaurantListItemImg  {
                @include sizeImg;
                border-radius: 1rem 0 0 1rem ;
                width: 250px;
                height: 150px;
            }
        }
    }
    /*##################################### */


    /*################ MENU ############### */
    .cardMenu {
        height: 640px;

        .cardMenuDish {
            margin-left: 1.5rem;
        }
        .cardMenuDishColumnChoice {
            width :300px !important;
        }
    }
    /*##################################### */


    /*########## MENTIONS/CONTACT ######### */
    .imgBg {
        position: absolute;
        width: 100%;
        z-index: 1;
        max-height: 100%;
        opacity: 0.5;
      }
      .formContactMsgSmall {
          display: none;
      }
      .formContactMsgMedium {
          display: none;
      }
    
    /*#####################################*/
}