@import "vars";
@import "mixin"; 
@media screen and (min-width: 768px) and (max-width: 1099px) {

    .headerLocation {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /*################ HOME ############### */
    .intro {
        text-align: center;

        .introContent {

            & > h4 {
                font-weight: normal;
            }
        }
        .introButton {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
        }
    }
    .stepList {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .stepListItem {
            width: 600px;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
    .restaurantListItem {
        width: calc(90%/2);

        > p {
            left: 10px !important;
        }


        .restaurantListItemImg  {
            @include sizeImg;
            border-radius: 1rem 0 0 1rem ;
            width: 170px;
            height: 150px;
        }
    }
    /*##################################### */


    /*################ MENU ############### */
    .cardMenuDishColumnChoice {
        width: 85% !important;
    }
    /*##################################### */


    /*########## MENTIONS/CONTACT ######### */

    /*##################################### */
}