@import "vars";
@import "mixin"; 
@media screen and (min-width: 768px) and (max-width: 1099px) {
    .container {
        width: 100%;
    }
    header {
        display: flex;
        justify-content: center;

        > div {
            width: calc(100% / 3);
        }
        & .headerLocation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    /*################ HOME ############### */
    .intro {
        text-align: center;

        .introContent {

            & > h4 {
                font-weight: normal;
            }
        }
        .introButton {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
        }
    }
    .stepList {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .stepListItem {
            width: 600px;
            align-items: center;
            margin-bottom: 1rem;
        }
    }
    .restaurantListItem {
        width: calc(90%/2);

        > p {
            left: 10px !important;
        }


        .restaurantListItemImg  {
            @include sizeImg;
            border-radius: 1rem 0 0 1rem ;
            width: 170px;
            height: 150px;
        }
    }
    .footerSection {
        height: 230px;
    }
    /*##################################### */


    /*################ MENU ############### */
    .cardMenu {
        height: 640px;

        .cardMenuDish {
            margin-left: 1.5rem;
        }
        .cardMenuDishColumnChoice {
            width :90% !important;
        }
    }
    /*##################################### */


    /*########## MENTIONS/CONTACT ######### */
    .imgBg {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100%;
        opacity: 0.5;
      }
      .formContactMsgSmall {
          display: none;
      }
      .formContactMsgLarge {
          display: none;
      }
    /*##################################### */
}