@mixin positionBlock {
    display: flex;
    justify-content: center;
}

@mixin sizeImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 0 0 1rem ;
}

@mixin positionBase {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@mixin checkHeart1 {

    #heart1, #heart2, #heart3, #heart4, #heart5, #heart6, #heart7, #heart8  {
        position: absolute;
        left: -100vw;
    }
    
    #heart1Label, #heart2Label, #heart3Label, #heart4Label {
        position: absolute;
        color: grey;
        background-color: transparent;
        cursor: pointer;
        font-size: 2em;
        z-index:1;
        
        
    }
    #heart5Label, #heart6Label, #heart7Label, #heart8Label {
        position : relative;
        bottom : 2px;
        left: 3px;
        font-size: 2.2em;
        color : transparent;
        align-self: center; 
        cursor: pointer; 
        z-index:2;
    }
    
    #heart1Label:hover, #heart2Label:hover, #heart3Label:hover, #heart4Label:hover {
        color: grey;
        cursor: pointer;
    }
    
    #heart1Label::selection, #heart2Label::selection, #heart3Label::selection, #heart4Label::selection, #heart5Label::selection, #heart6Label::selection, #heart7Label::selection, #heart8Label::selection {
        color: transparent;
        background: transparent;
    }
    
    #heart1:checked + label, #heart2:checked + label, #heart3:checked + label, #heart4:checked + label {
        color: transparent;
        background: transparent;
    }

    #heart5:checked + label, #heart6:checked + label, #heart7:checked + label, #heart8:checked + label{
        position : relative;
        background: -webkit-linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        will-change: font-size;
        animation-name: heart;
        animation-duration: 200ms ;
    }
    @keyframes heart {
        0% {
            transform: scaleX(0);
            opacity: 0.2;
        }
        100% {
            transform: scaleX(1);
            opacity: 1;
        }
    }
        
}

@mixin footerSection {
    background-color: rgb(61, 61, 61);
    color : white;
    padding: 1rem 0 1rem 1rem ;

    .footerTitle {
        font-family : $fontShrikhand;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footerPartner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .fas {
            margin-right: 0.5rem;
        }
    }
    .footerAbout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & > a {
            color :white;
            text-decoration: none;
        }
    }
}