@import "vars";
@import "mixin"; 

@media screen and (max-width: 767px) {
    body {
        margin: 0;
    }
    .container {
        width: 100%;
        margin: 0;
        .fa-angle-left {
            margin-left: 0.5rem;
        }
    }

    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        > div:first-child {
            position: absolute;
            left: 0;
        }
        & .headerLogo {
            width: 100%;
        }
        & .headerLocation {
            box-shadow: inset 1px 2px 7px $boxShadowColor;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            background-color: #e6e6e6;
            width: 100vw;
            height: 50px;
            .fas {
                align-self: center;
                margin-left: 55px;
                margin-right: 15px;
                color: black;
            }
        }
    }

    /*################ HOME ############### */
    .intro {
        text-align: center;
        background-color: rgb(243, 243, 243);

        .introContent > h3 {
            margin: 2rem 2rem 0 2rem;
            font-size: 1.5rem;;
        }
        .introContent > h4 {
            margin: 0 1.2rem 1rem 1.2rem;
        }
        .presentation {
            display: none;
        }
        .introButton {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            margin-bottom: 3rem;
            width: auto;
        }
    }
    .stepTitle {
        margin-left: 1rem;
    }
    .stepList {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .stepListItem {
            width: 85%;
            margin-bottom: 1rem;
        }
    }
    .restaurant {
        border-radius: 0;
        padding-bottom: 3rem;
    }
    .restaurantList {
        flex-direction: column;
        align-items: center;
        margin-bottom: -1rem;

        .restaurantListItem {
            width: 90%;
            height: 200px !important;  
            margin : 0 0 1rem 0 !important;  
            display: block !important;                
            flex-direction: column;
            justify-content: center;
            
            & > p {
                right: 10px !important;
            }

            .restaurantListItemImg  {
                @include sizeImg;
                border-radius: 1rem 1rem 0 0 ;
                width: 100%;
                height: 140px;
            }
            .restaurantListItemName {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;

                > a {
                    width: 80%;

                    > h4, p {
                        margin: 0;
                    }
                }               
            }
        }
    }
    /*##################################### */


    /*################ MENU ############### */
    .cardMenuImg {
        height: 200px !important;
    }
    .cardMenuDish {
        flex-direction: column !important;
        margin-left: 1.5rem;
    }
    .cardMenuDishColumnChoice {
        width :90% !important;
    }
    .btnOrder {
        margin-bottom: 4rem;
        margin-top: 3rem;
    }
    /*##################################### */


    /*########## MENTIONS/CONTACT ######### */
  
    .formContactMsgLarge {
        display: none;
    }
    .formContactMsgMedium {
        display: none;
    }
    .mentions {
        margin: 1rem;
    }
    /*##################################### */

    .footerSection {
        background-color: rgb(61, 61, 61);
        color : white;
        padding: 0 0 1rem 2rem ;
        
        
    

        .footerTitle {
            font-family : $fontShrikhand;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: -0.5rem;
        }
        .footerPartner {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .fas {
                margin-right: 0.5rem;
            }
            p {
                margin: 0.5rem 0 0 0;
            }
        }
        .footerAbout {
                        display: flex;
            flex-direction: column;
            justify-content: space-around;
            & > a {
                color :white;
                text-decoration: none;
            }
            p {
                margin: 0.5rem 0 0 0;
            }
        }
    }
}