@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }
  .container .fa-angle-left {
    margin-left: 0.5rem;
  }

  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  header > div:first-child {
    position: absolute;
    left: 0;
  }
  header .headerLogo {
    width: 100%;
  }
  header .headerLocation {
    box-shadow: inset 1px 2px 7px #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #e6e6e6;
    width: 100vw;
    height: 50px;
  }
  header .headerLocation .fas {
    align-self: center;
    margin-left: 55px;
    margin-right: 15px;
    color: black;
  }

  /*################ HOME ############### */
  .intro {
    text-align: center;
    background-color: #f3f3f3;
  }
  .intro .introContent > h3 {
    margin: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
  }
  .intro .introContent > h4 {
    margin: 0 1.2rem 1rem 1.2rem;
  }
  .intro .presentation {
    display: none;
  }
  .intro .introButton {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 3rem;
    width: auto;
  }

  .stepTitle {
    margin-left: 1rem;
  }

  .stepList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .stepList .stepListItem {
    width: 85%;
    margin-bottom: 1rem;
  }

  .restaurant {
    border-radius: 0;
    padding-bottom: 3rem;
  }

  .restaurantList {
    flex-direction: column;
    align-items: center;
    margin-bottom: -1rem;
  }
  .restaurantList .restaurantListItem {
    width: 90%;
    height: 200px !important;
    margin: 0 0 1rem 0 !important;
    display: block !important;
    flex-direction: column;
    justify-content: center;
  }
  .restaurantList .restaurantListItem > p {
    right: 10px !important;
  }
  .restaurantList .restaurantListItem .restaurantListItemImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 140px;
  }
  .restaurantList .restaurantListItem .restaurantListItemName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .restaurantList .restaurantListItem .restaurantListItemName > a {
    width: 80%;
  }
  .restaurantList .restaurantListItem .restaurantListItemName > a > h4, .restaurantList .restaurantListItem .restaurantListItemName > a p {
    margin: 0;
  }

  /*##################################### */
  /*################ MENU ############### */
  .cardMenuImg {
    height: 200px !important;
  }

  .cardMenuDish {
    flex-direction: column !important;
  }

  .cardMenuDishColumnChoice {
    width: 90%;
  }

  .btnOrder {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }

  /*##################################### */
  /*########## MENTIONS/CONTACT ######### */
  .formContactMsgLarge {
    display: none;
  }

  .formContactMsgMedium {
    display: none;
  }

  .mentions {
    margin: 1rem;
  }

  /*##################################### */
  .footerSection {
    background-color: #3d3d3d;
    color: white;
    padding: 0 0 1rem 2rem;
  }
  .footerSection .footerTitle {
    font-family: "Shrikhand", cursive;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -0.5rem;
  }
  .footerSection .footerPartner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footerSection .footerPartner .fas {
    margin-right: 0.5rem;
  }
  .footerSection .footerPartner p {
    margin: 0.5rem 0 0 0;
  }
  .footerSection .footerAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footerSection .footerAbout > a {
    color: white;
    text-decoration: none;
  }
  .footerSection .footerAbout p {
    margin: 0.5rem 0 0 0;
  }
}/*# sourceMappingURL=small.css.map */