@import "vars";
@import "mixin";

body {
    margin: auto;
    width: 100%;
}
.container {
    position: relative;
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fa-angle-left {
        color: rgb(190, 190, 190);
        font-size: 2rem;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        @include positionBlock;
    }
    .headerLocation {
        position: absolute;
        right: 20px;
        top: 20px;
        

        .inputHeader {
            border: none;
            font-weight: bold;
            background-color: transparent;
        }
    }
}
.mentions {
    font-family: $fontRoboto;
}

.footerSection {
    font-family: $fontRoboto;
    @include footerSection;
}