$fontRoboto: 'Roboto', sans-serif;
$fontShrikhand: 'Shrikhand', cursive;
$backgroundPrimary : #f2f2f2;
$colorPrimary : #9356dc;
$colorSecondary : #99e2d0;
$heartColor : #ff79da ;
$boxShadowColor : #d3d3d3 ;
