@import "vars";
@import "mixin"; 

body {
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.container {
    font-family: $fontRoboto;
    height: 100vh;
    margin: 0 1rem 0 1rem;
    position: relative;

    .fa-angle-left {
        color: rgb(190, 190, 190);
        font-size: 2rem;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        @include positionBlock;
    }
    .headerLocation {
        position: absolute;
        right: 20px;
        top: 20px;
        

        .inputHeader {
            border: none;
            font-weight: bold;
            background-color: transparent;
        }
    }
}


.intro {
    flex-wrap: wrap;
    @include positionBase;

    .introContent {
        @include positionBase;
        width: 100%;
        margin-bottom: 1rem;
        
    }
    .introButton {
        font-family: $fontRoboto;
        font-size: 1.2rem;
        width: 300px;
        height: 60px;
        color: white;
        border : 1px solid $backgroundPrimary;
        border-radius: 60px ;
        background: #FF79DA;
        background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
        box-shadow: 5px 5px 20px $boxShadowColor;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
.step {
    display: flex;
    flex-direction: column;

    .stepList {
        z-index: 1;
        @include positionBase;
        
        .stepListItem {
            position: relative;
            border: 1px $backgroundPrimary solid ;
            border-radius : 20px;
            box-shadow: 5px 5px 20px $boxShadowColor;
            height: 75px;
            width: calc(1000px / 3);
            background-color:$backgroundPrimary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #f9ebff;

                i {
                    color : #9356dc;
                }
            }
            
            > p {
                position: absolute; 
                left :-10px;
                width: 20px;
                height: 20px;
                background-color: #9356dc;
                color : white;
                border-radius: 100%;
                text-align: center;
            }

            > h4 {
                font-size: 1.1rem;
                margin: 0;
                padding-left: 1rem;
            }

            > i {
                color :grey ;
            }
        }
    }
}
.restaurant {
    background-color: $backgroundPrimary;
    margin : 1rem 0 1rem 0;
    border-radius: 1rem 1rem 1rem 1rem;
    .restaurantTitle {
        padding : 1rem 0 0 1rem;
    }

    .restaurantList {
        @include positionBase;
        flex-wrap: wrap;
        padding-bottom: 1rem;

        .restaurantListItem {
            box-shadow: 2px 2px 10px grey;
            border-radius: 1rem 1rem 1rem 1rem;
            width: 500px;
            height: 150px;
            margin-top: 2rem;
            display : flex;
            flex-direction: row;
            background-color: white;
            
            
        
            .restaurantListItemImg  {
                @include sizeImg;
                            }

            .restaurantListItemName {
                width: 100%;
                margin-left: 1rem;

                & > a  {
                    text-decoration: none;
                    color: black;
                }
                

                > .checkHeart {
                   
                    margin-right: 1rem;
                    display: flex;
                    justify-content: flex-end;


                    @keyframes heart {0%, 5% {font-size: 0}}

                        #heart1, #heart2, #heart3, #heart4, #heart5, #heart6, #heart7, #heart8  {
                                position: absolute;
                                left: -100vw;
                            }
                            
                            #heart1Label, #heart2Label, #heart3Label, #heart4Label {
                                position: absolute;
                                color: grey;
                                background-color: white;
                                cursor: pointer;
                                font-size: 2em;
                                z-index:1;
                                
                                
                            }
                            #heart5Label, #heart6Label, #heart7Label, #heart8Label {
                                position : relative;
                                bottom : 13px;
                                left: 5px;
                                font-size: 2.7em;
                                color : transparent;
                                align-self: center; 
                                cursor: pointer; 
                                z-index:4;
                            }
                            
                            #heart1Label:hover, #heart2Label:hover, #heart3Label:hover, #heart4Label:hover {
                                color: grey;
                                cursor: pointer;
                            }
                            
                            #heart1Label::selection, #heart2Label::selection, #heart3Label::selection, #heart4Label::selection, #heart5Label::selection, #heart6Label::selection, #heart7Label::selection, #heart8Label::selection {
                                color: transparent;
                                background: transparent;
                            }
                            
                            #heart1:checked + label, #heart2:checked + label, #heart3:checked + label, #heart4:checked + label {
                                color: transparent;
                                background: transparent;
                            }

                            #heart5:checked + label, #heart6:checked + label, #heart7:checked + label, #heart8:checked + label{
                                position : relative;
                                background: -webkit-linear-gradient(#9356DC, #FF79DA);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                will-change: font-size;
                                animation: heart 200ms ;
                                }

                                
                        }


                                            
                }
            }
        }
    }


.footerSection {
    @include footerSection;
}





