body {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.container {
  background-image: url(../Assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 1280px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .fa-angle-left {
  position: relative;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 2rem;
}

.container .headerLogo {
  color: white;
}

.container .headerLogo {
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .headerLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -3rem;
  color: white;
}

.container .headerLocation .inputHeader {
  border: none;
  font-weight: bold;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .formContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  background-image: #f4ebff;
}

.container .formContact .formContactName {
  margin-top: 2rem;
}

.container .formContact .formContactMail {
  margin-top: 2rem;
}

.container .formContact .formContactMsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  width: 100%;
  margin-top: 2rem;
}

.container .formContact .btnSubmit {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  width: 100px;
  height: 30px;
  color: white;
  border: 1px solid #f2f2f2;
  border-radius: 60px;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(73%, #D675FF), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
  -webkit-box-shadow: 5px 5px 20px #d3d3d3;
          box-shadow: 5px 5px 20px #d3d3d3;
  margin-top: 1rem;
}

.footerSection {
  font-family: "Roboto", sans-serif;
  background-color: #3d3d3d;
  color: white;
  padding: 1rem 0 1rem 1rem;
}

.footerSection .footerTitle {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerSection .footerPartner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerPartner .fas {
  margin-right: 0.5rem;
}

.footerSection .footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerAbout > a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=stylesContact.css.map */