body {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.container {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  position: relative;
}

.container .fa-angle-left {
  color: #bebebe;
  font-size: 2rem;
}

.container .headerLogo {
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .headerLocation {
  position: absolute;
  right: 20px;
  top: 20px;
}

.container .headerLocation .inputHeader {
  border: none;
  font-weight: bold;
  background-color: transparent;
}

.intro {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro .introContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}

.intro .introButton {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  width: 300px;
  height: 60px;
  color: white;
  border: 1px solid #f2f2f2;
  border-radius: 60px;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(73%, #D675FF), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
  -webkit-box-shadow: 5px 5px 20px #d3d3d3;
          box-shadow: 5px 5px 20px #d3d3d3;
  cursor: pointer;
}

.intro .introButton:focus {
  outline: none;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step .stepList {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.step .stepList .stepListItem {
  position: relative;
  border: 1px #f2f2f2 solid;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #d3d3d3;
          box-shadow: 5px 5px 20px #d3d3d3;
  height: 75px;
  width: calc(1200px / 3);
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.step .stepList .stepListItem:hover {
  background-color: #f9ebff;
}

.step .stepList .stepListItem:hover i {
  color: #9356dc;
}

.step .stepList .stepListItem > p {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  color: white;
  border-radius: 100%;
  text-align: center;
}

.step .stepList .stepListItem > h4 {
  font-size: 1.1rem;
  margin: 0;
  padding-left: 1rem;
}

.step .stepList .stepListItem > i {
  color: grey;
}

.restaurant {
  background-color: #f2f2f2;
  margin: 1rem 0 1rem 0;
  border-radius: 1rem 1rem 1rem 1rem;
}

.restaurant .restaurantTitle {
  padding: 1rem 0 0 1rem;
}

.restaurant .restaurantList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
}

.restaurant .restaurantList .restaurantListItem {
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 600px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 0 0 1rem;
  width: 300px;
  height: 150px;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName {
  width: 100%;
  margin-left: 1rem;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > a {
  text-decoration: none;
  color: black;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes heart {
  0%, 17% {
    font-size: 0;
  }
}

@keyframes heart {
  0%, 17% {
    font-size: 0;
  }
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4 {
  position: absolute;
  left: -100vw;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1Label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2Label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3Label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4Label {
  color: #aab8c2;
  cursor: pointer;
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1Label:hover, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2Label:hover, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3Label:hover, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4Label:hover {
  color: grey;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1Label::-moz-selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2Label::-moz-selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3Label::-moz-selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4Label::-moz-selection {
  color: none;
  background: transparent;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1Label::selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2Label::selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3Label::selection, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4Label::selection {
  color: none;
  background: transparent;
}

.restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart1:checked + label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart2:checked + label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart3:checked + label, .restaurant .restaurantList .restaurantListItem .restaurantListItemName > .checkHeart #heart4:checked + label {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  will-change: font-size;
  -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.footerSection {
  background-color: #3d3d3d;
  color: white;
  padding: 1rem 0 1rem 1rem;
}

.footerSection .footerTitle {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerSection .footerPartner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerPartner .fas {
  margin-right: 0.5rem;
}

.footerSection .footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerAbout > a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */