@import "vars";
@import "mixin";

body {
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.container {
    font-family: $fontRoboto;
    height: 100vh;
    margin: 0 1rem 0 1rem;
    position: relative;

    .fa-angle-left {
        color: rgb(190, 190, 190);
        font-size: 2rem;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        @include positionBlock;
    }
    .headerLocation {
        position: absolute;
        right: 20px;
        top: 20px;
        

        .inputHeader {
            border: none;
            font-weight: bold;
            background-color: transparent;
        }
    }
}
main {
    position: relative ;
    height: 100vh;
    

    .cardMenuImg {
        z-index: 1;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .cardMenu {
        margin-top: -3rem;
        background-color: rgb(248, 248, 248);
        position: absolute ;
        border-radius: 40px 40px 0 0;
        width: 100%;
        height: 620px;
        display: flex;
        flex-direction: column;
        
        .cardMenuTitle{
            font-family: $fontShrikhand;
            margin-left: 1rem;
        }
        .cardMenuDish {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    
            .cardMenuDishColumn {
                display: flex;
                flex-direction: column;
                                
                .cardMenuDishColumnTitle {
                    width: fit-content;
                    color: rgb(131, 131, 131);
                    margin-bottom: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        border-bottom:  3px solid $colorSecondary;
                    }
                }
                .cardMenuDishColumnChoice {
                    
                    background-color: white;
                    width: 300px;
                    height: 100px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    transform: scale(1);
                    animation-name: slideY;
                    animation-duration: 2000ms;
                    transform-origin : top;
    
                    .textContent {
                        max-width: 220px;
                        
                        > h4 {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        > p {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                    .price {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                    }
                    .testBox {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
    
                        .textContent {
                            width: 150px;
                        }
                        .testBox {
                            align-self : flex-end;

                            cursor : pointer;
                                display : flex;
                                justify-content : center;
                                align-items : center;
                                background-color : $colorSecondary;
                                width : 80px;
                                height : 100px;
                                border-radius : 0 20px 20px 0;

                                    &.testBox{
                                        transform: scale(1);
                                        animation-name: slideX;
                                        animation-duration: 300ms;
                                        transform-origin : 100%;
                                    }
                            .fas {
                                font-size : 2.5rem;
                                background-color : white;
                                border-radius : 50%;
                                color : $colorSecondary;
                                border : 10px solid white;
                                -webkit-animation: rotate 300ms linear;
                                }
                    
                            @keyframes slideX {
                                0% {
                                    transform: scaleX(0);
                                    }
                                    
                                100% {
                                    transform: scaleX(1);
                                }
                            }
                            @keyframes slideY {
                                0% {
                                    transform: scaleY(0);
                                    opacity: 0;
                                    }
                                50% {
                                    transform: scaleY(0.5);
                                    opacity : 0;
                                }
                                100% {
                                    transform: scaleY(1);
                                    opacity: 1;
                                }
                            }
                            @keyframes identifier {
                                
                            }
                            @keyframes rotate {
                                100% {
                                    -webkit-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                }
                                0% {
                                    -webkit-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
            }
        }
        .btnOrder {
            align-self: center;
            font-family: $fontRoboto;
            font-size: 1.2rem;
            width: 300px;
            height: 60px;
            color: white;
            border : 1px solid $backgroundPrimary;
            border-radius: 60px ;
            background: #FF79DA;
            background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
            box-shadow: 5px 5px 20px $boxShadowColor;
            cursor: pointer;
        }
    }
}

.cardMenuDishColumnChoice1 {
    animation-delay: 200ms
}
.cardMenuDishColumnChoice2 {
    animation-delay: 400ms
}
.cardMenuDishColumnChoice3 {
    animation-delay: 600ms
}
.cardMenuDishColumnChoice4 {
    animation-delay: 800ms
}
.cardMenuDishColumnChoice5 {
    animation-delay: 1000ms
}
.cardMenuDishColumnChoice6 {
    animation-delay: 1200ms
}
.cardMenuDishColumnChoice7 {
    animation-delay: 1400ms
}
.cardMenuDishColumnChoice8 {
    animation-delay: 1600ms
}
.cardMenuDishColumnChoice9 {
    animation-delay: 1800ms
}
.cardMenuDishColumnChoice10 {
    animation-delay: 2000ms
}



.footerSection {
    @include footerSection;
}

