@import "vars";
@import "mixin";

body {
    margin: auto;
    max-width: 1280px;
    width: 100%;
}
.container {
    background-image:url(../Assets/images/restaurants/bigpicture/toa-heftiba-DQKerTsQwi0-unsplash.webp) ;
    width: 1280px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .fa-angle-left {
        position: relative;
        left: 20px;
        top: 20px;
        color: white;
        font-size: 2rem;
    }
    .headerLogo {
        color: white;
    }
    .headerLogo {
        font-size: 2rem;
        font-family: $fontShrikhand;
        @include positionBlock;
    }
    .headerLocation {
        display: flex;
        justify-content: flex-end;
        margin-top: -3rem;
        color: white;
        
        .inputHeader {
            border: none;
            font-weight: bold;
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           
            
        }
    }
    
   
    .formContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        background-image: #f4ebff;

           
            .formContactName {
                margin-top : 2rem;
            }
            .formContactMail {
                margin-top : 2rem;
            }
            .formContactMsg {
                display: flex;
                justify-content: center;
                height: 30%;
                width: 100%;
                margin-top : 2rem;
    
            }
            .btnSubmit {
                font-family: $fontRoboto;
                font-size: 1.2rem;
                width: 100px;
                height: 30px;
                color: white;
                border : 1px solid $backgroundPrimary;
                border-radius: 60px ;
                background: #FF79DA;
                background: -moz-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
                background: -webkit-linear-gradient(top, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
                background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
                box-shadow: 5px 5px 20px $boxShadowColor;
                margin-top: 1rem;
            }
    }
    
}
.footerSection {
    font-family: $fontRoboto;
    @include footerSection;
}