body {
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.container {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  position: relative;
}

.container .fa-angle-left {
  color: #bebebe;
  font-size: 2rem;
}

.container .headerLogo {
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .headerLocation {
  position: absolute;
  right: 20px;
  top: 20px;
}

.container .headerLocation .inputHeader {
  border: none;
  font-weight: bold;
  background-color: transparent;
}

main {
  position: relative;
  height: 100vh;
}

main .cardMenuImg {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
}

main .cardMenu {
  margin-top: -3rem;
  background-color: #f8f8f8;
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .cardMenu .cardMenuTitle {
  font-family: "Shrikhand", cursive;
  margin-left: 1rem;
}

main .cardMenu .cardMenuDish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #838383;
  margin-bottom: 0.5rem;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnTitle:hover {
  cursor: pointer;
  border-bottom: 3px solid #99e2d0;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice {
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: slideY;
          animation-name: slideY;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-transform-origin: top;
          transform-origin: top;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice .textContent {
  max-width: 220px;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice .textContent > h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice .textContent > p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice .testBox {
  display: none;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice:hover {
  cursor: pointer;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice:hover .textContent {
  width: 150px;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice:hover .testBox {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  width: 80px;
  height: 100px;
  border-radius: 0 20px 20px 0;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice:hover .testBox.testBox {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: slideX;
          animation-name: slideX;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

main .cardMenu .cardMenuDish .cardMenuDishColumn .cardMenuDishColumnChoice:hover .testBox .fas {
  font-size: 2.5rem;
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
  border: 10px solid white;
  -webkit-animation: rotate 300ms linear;
}

@-webkit-keyframes slideX {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slideX {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slideY {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes slideY {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

main .cardMenu .btnOrder {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  width: 300px;
  height: 60px;
  color: white;
  border: 1px solid #f2f2f2;
  border-radius: 60px;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(73%, #D675FF), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #D675FF 73%, #9356DC 100%);
  -webkit-box-shadow: 5px 5px 20px #d3d3d3;
          box-shadow: 5px 5px 20px #d3d3d3;
  cursor: pointer;
}

.cardMenuDishColumnChoice1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.cardMenuDishColumnChoice2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.cardMenuDishColumnChoice3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.cardMenuDishColumnChoice4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.cardMenuDishColumnChoice5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.cardMenuDishColumnChoice6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.cardMenuDishColumnChoice7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.cardMenuDishColumnChoice8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.cardMenuDishColumnChoice9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.cardMenuDishColumnChoice10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.footerSection {
  background-color: #3d3d3d;
  color: white;
  padding: 1rem 0 1rem 1rem;
}

.footerSection .footerTitle {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerSection .footerPartner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerPartner .fas {
  margin-right: 0.5rem;
}

.footerSection .footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footerSection .footerAbout > a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=stylesmenu.css.map */